{%  extends 'base.html' %}

{%  block content %}
    <div class="container">
        <!----------------- COLUMN 1--------------------------->
        <div class="column1"><!----
            <img id="logo_dashboard" src="../static/images  - helpDesk/logo.png" alt="logo">
            <div class="text_dashboard">
                <p id="help_dashboard">Help</p>
                <p id="desk_dashboard">Desk</p>
            </div>-->

            <div class="nav_text">
                <span id="help_text">Help</span>
                <span id="desk_text">Deskie</span>
            </div>
            <div class="icon_text_container">
                <div>
                    <img src="../static/images - helpDesk/home-white.svg" alt="Icon 1" class="icon">
                    <span id="icon-text-dashboard">Dashboard</span>
                </div>
                <div>
                    <img src="../static/images - helpDesk/file-text.svg" alt="Icon 2" class="icon">
                    <span id="icon-text-tasks">Tasks</span>
                </div>
                <div>
                    <img src="../static/images - helpDesk/settings.svg" alt="Icon 3" class="icon">
                    <span id="icon-text-projects">Projects</span>
                </div>
            </div>    
                <div class="logout-container">
                    <div>
                        <img src="../static/images - helpDesk/log-out-white.svg" alt="Logout Icon" class="logout-icon">
                        <span id="logout-text">Logout</span>
                    </div>
                </div>
        
        </div>
        <!----------------- COLUMN 2--------------------------->
        <div class="column2">
            <div class="main_content_container">
                <div class="main_text_hello">
                    <span id="hello">Hello,</span> <span id="name">Francis</span>
                    <h2>Lorem Ipsum adalah contoh teks atau dummy dalam industri percetaka</h2>
                </div>
                <div class="date_time">
                    <span class="date_text">26 July 2024</span>
                    <span ><img src="../static/images - helpDesk/today_29dp_084071_FILL0_wght400_GRAD0_opsz24.svg" alt="date icon" class="date-icon"></span> 
                </div>
            </div>
            <div class="main_content_container_summary">
                <div class="summary-section">
                    <div class="summary-item">
                        <img src="../static/images - helpDesk/thumb_up_38dp_ 084071_FILL0_wght400_GRAD0_opsz40 copy 2.svg" alt="Finished Icon" class="summary-icon">
                        <div class="summary-text-container">
                            <p class="summary-label">Finished</p>
                            <div class="summary-count">
                                <span class="summary-number">10</span> <span id="tasks">tasks</span>
                            </div>
                         </div>
                    </div>
                    <div class="summary-item">
                        <img src="../static/images - helpDesk/pending_actions_33dp_084071_FILL0_wght400_GRAD0_opsz40.svg" alt="Pending Icon" class="summary-icon">
                            <div class="summary-text-container">
                                <p class="summary-label">Pending</p>
                                <div class="summary-count">
                                    <span class="summary-number">5</span> <span id="tasks">tasks</span> 
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="current-tasks-section">
                <h2>Current Tasks</h2>
                <p>Lorem Ipsum adalah contoh teks atau.</p>
                <div class="tasks-list">
                    <div class="task-item">
                        <span class="task-name">Francis Mudzungayiri</span>
                        <span class="task-id">E425</span>
                        <span class="task-department">Department</span>
                        <span class="task-status pending">Pending</span>
                    </div>
                    <div class="task-item">
                        <span class="task-name">Varlery Gonamombe</span>
                        <span class="task-id">G771</span>
                        <span class="task-department">Department</span>
                        <span class="task-status completed">Completed</span>
                    </div>
                    <div class="task-item">
                        <span class="task-name">Tanaka Mushava</span>
                        <span class="task-id">E745</span>
                        <span class="task-department">Department</span>
                        <span class="task-status in-progress">In Progress</span>
                    </div>
                    <div class="task-item">
                        <span class="task-name">Gilbert Nyika</span>
                        <span class="task-id">E425</span>
                        <span class="task-department">Department</span>
                        <span class="task-status in-progress">In Progress</span>
                    </div>
                    <div class="task-item">
                        <span class="task-name">L. Jabu Bona</span>
                        <span class="task-id">B631</span>
                        <span class="task-department">Department</span>
                        <span class="task-status completed">Completed</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}