{%  extends 'base.html' %}

{%  block content %}
    <div class="container">
        <!----------------- COLUMN 1--------------------------->
        <div class="column1"><!----
            <img id="logo_dashboard" src="../static/images  - helpDesk/logo.png" alt="logo">
            <div class="text_dashboard">
                <p id="help_dashboard">Help</p>
                <p id="desk_dashboard">Desk</p>
            </div>-->

            <div class="nav_text">
                <span id="help_text">Help</span>
                <span id="desk_text">Deskie</span>
            </div>
            <div class="vertical-nav">
                <div class="vertical-tab-active tab-btn" data-tab="dashboard">
                    <span>Dashboard</span>
                </div>
                {% if session.system_role == 'Administrator':%}
                <div class="tab-btn" data-tab="users">
                    <span>Users</span>
                </div>
                {%  endif  %}
                <div class="tab-btn" data-tab="projects">
                    <span>Projects</span>
                </div>
                <div class="tab-btn" data-tab="allTasks">
                    {% if session.system_role == 'Administrator' : %}
                        <span>Tasks</span>
                    {% else: %}
                        <span>My Tasks</span>
                    {% endif  %}
                </div>
            </div>    
                <div class="logout-container">
                    <div>
                        <a id="logout-text" href="  {{  url_for('logout')  }}">Logout</a>
                    </div>
                </div>
        
        </div>
        <!----------------- COLUMN 2--------------------------->
        <div class="column2">
            <div class="main_content_container">
                <div class="main_text_hello">
                    <span id="hello">Hello,</span> <span id="name">{{ session.name }}</span>
                    <h2>Lorem Ipsum adalah contoh teks atau dummy dalam industri percetaka</h2>
                </div>
                <div class="date_time">
                    <span class="date_text">26 July 2024</span>
                    <span ><img src="../static/images - helpDesk/today_29dp_084071_FILL0_wght400_GRAD0_opsz24.svg" alt="date icon" class="date-icon"></span> 
                </div>
            </div>
            <div class="summary_container">
                <div>
                    <h6>Pending</h6>
                    <span class="tasks_num pending">10</span>
                    <span class="">tasks</span>
                </div>
                <div>
                    <h6>Inprogress</h6>
                    <span class="tasks_num inprogress">10</span>
                    <span>tasks</span>
                </div>
                <div>
                    <h6>Completed</h6>
                    <span class="tasks_num completed">10</span>
                    <span>tasks</span>
                </div>
            </div>
            <div id="dashboard" class="current-tasks-section tab-pane pane-active">
                <h2>Unallocated Tasks</h2>
                <p>Lorem Ipsum adalah contoh teks atau.</p>
                <div class="tasks-list ">
                    <table id="Unallocated-tasks">
                        <tr>
                            <th>Name</th>
                            <th>Office Number</th>
                            <th>Status</th>
                            <th>Details</th>
                        </tr>
                        {% for row in all_querries %}
                            {% if session.system_role == 'Administrator' : %}
                        <tr>
                             <td> {{ row['name']  }}</td>
                            <td>{{ row['office_number']  }}</td>
                            {%  if row['status'] == 'pending':   %}
                                <td id="pending">{{  row['status']  }}</td>
                            {% else:   %}
                                <td id="allocated" > {{ row['status']  }}</td>
                            
                            {% endif  %}
                            <td><a href="{{ url_for('row_details',username=session.name, id=row['_id'] ) }}">view</a></td>
                        </tr>
                            {%   else :   %}
                            {%   if  session.name == row['assigned_to']:   %}
                            <tr>
                                <td> {{ row['name']  }}</td>
                               <td>{{ row['office_number']  }}</td>
                                <td id="allocated" > {{ row['status']  }}</td>
                               <td><a href="{{ url_for('row_details',username=session.name, id=row['_id'] ) }}">view</a></td>
                           </tr>
                                {%  endif  %}
                            {% endif  %}

                        {% endfor %}
                    </table>
                </div>           
            </div>
                        
             <!--- USER TAB    -->
            
            <div id="users" class="tab-pane">
                <div class="horizontal-tabs">
                    <span class="active">New User</span>
                    <span>All Users</span>
                </div>
                <div class="user-content">
                    <h3>New User Registration</h3>
                    <form action="/addnewuser" method="post">
                        {{ form.hidden_tag() }}
                        <div class="width-50">
                            {{  form.firstname(class='loginputs', placeholder='First Name')  }}
                            {{  form.surname(class='loginputs', placeholder='Last Name')   }}
                        </div>
                        <div class="width-50">
                            {{  form.useremail(class='loginputs', placeholder='Email Address')  }}
                            {{  form.system_role(class='loginputs')   }}
                        </div>
                        <div class="width-50">
                            {{  form.position( class='loginputs', placeholder='Work Position')   }}
                            {{  form.password(class='loginputs', placeholder = 'Password') }}
                        </div>                    
                       <button id="login_signin_btn">Register</button>
                    </form>
                </div>
            </div>

         <!--- all tasks TAB    -->
            <div id="projects" class="tab-pane">
                <h1>PROJECTS</h1>
            </div>

          <!--- PROJECTS  TAB    -->
            <div id="allTasks" class="tab-pane">
                <h1>ALL TASKS</h1>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js')  }}"></script>
{% endblock %}
