<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section id="logInSection">
        <div class="wrapper">
            <div class="navBar">
                <div class="nav_logo">
                   <img id="ministry_picture" src="../static/images - helpDesk/logo.png" alt="logo picture"> 
                   <div class="nav_text">
                      <span id="help_text">Help</span>
                      <span id="desk_text">Desk</span>
                   </div>
                </div>
                <div class="nav_links">
                    <a href="">Home</a>
                    <a href="">Services</a>
                    <a href="">Blog</a>
                    <a href="">About us</a>
                </div>
            </div>
            <div class="signInForm">
                <div class="signInText">
                    <h1>
                        <span id="signText">Sign</span>
                        <span id="inText">In</span>
                    </h1>
                    <svg id="yellowLine" xmlns="http://www.w3.org/2000/svg" width="207.337" height="25.089" viewBox="0 0 207.337 25.089">
                        <path id="Path_3" data-name="Path 3" d="M235.034,463.088C232.718,452.083,367.863,441.556,354.082,442,329.233,442.8,150,463.088,150,463.088" transform="translate(-149.775 -439.987)" fill="none" stroke="#eed836" stroke-width="4"/>
                      </svg>
                    <p>
                        Mauris bandit, nisi ini ultrices sagittis, erat dui feugiat magna
                    </p>
                </div>
                <div class="hero_sign_in">
                    <form action="/login" method="post">
                      {{ form.hidden_tag()}}

                        {{  form.username( class='loginputs')  }}
                        {{  form.password(  class='loginputs') }}<!---
                        <input type="text" class="loginputs" id="username_login" name="username" placeholder="Username" autocomplete="off">
                        <input type="password" class = 'loginputs' id="password_login" name="password" placeholder="Password">
                    --><button id="login_signin_btn">Log in</button>
                    </form>
                    
                </div>
            </div>
        </div>    
    </section>
</body>
</html>